<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="tests" > <!-- 2 потока, тесты параллельно выполняются -->
    <test name="Test for Chrome browser">
        <parameter name="browser" value="chrome" /> <!-- parameter для @Parameters("browser"), value - значение для метода -->
        <classes>
            <class name="CrossBrTests"> <!-- имя тестового класса-->
                <!-- исключить один из тестов -->
                <!--				<methods>-->
                <!--					<exclude name="loginSecondAfterLogout"/>-->
                <!--				</methods>-->
            </class>
        </classes>
    </test>
    <test name="Test for Firefox browser">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="CrossBrTests">
            </class>
        </classes>
    </test>
</suite>